h1{
	color:#827689;
	font-family:"Luckiest Guy";
	font-size:30px;
		
}
h2{
	color:gold;
	font-family:"Roboto Condensed";

	
}
p{
	color:white;
	font-family:"Teko";
	font-size:20px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
img 
{
  opacity: 1.0;
}
ul{
	color:pink;
	font-family:"Roboto Mono";
	
}

section{
	background-image: url("image.jpg");
	background-size: cover;
    background-repeat: no-repeat;
   
    border-color: white;
}
img{
    border-radius: 20%;
}
body{
	background-image: url("image8.jpg");
	background-position:auto;
	
}
ol{
	color: black;
	font-size:20px;
	font-family:"Fira Sans";
	
}
social{
	color:black;
	font-size:90px;
	font-family:"Fira Sans";
}


audio{
	background-color:pink;	
}
b{
	color:white;
}
footer{
	position:center;
	color:purple;
	font-size:16px;
	
}
about{
	background-image:url("image.jpg");
	background-color:grey;
	
}
header{
	color:black;
	font-family:"Luckiest Guy";
	font-size:30px;
	height:10px;
	
}

body{
	background-color:#a15e97;
	border:10px;
}

nav{
	display:flex;
    flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-between;
}



	
